
<section class="border-bottom border-top">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-12 col-md-6 offset-md-1 order-md-2">

                <div class="d-md-none img-cover flickity-enabled is-draggable" >
                    <swiper [config]="config">
                        <div class="swiper-wrapper w-100">
                            <div class="swiper-slide">
                                <div class="cu-sm-slide">
                                    <img src="assets/images/cover-9.jpg" class="img-fluid cu-sm-img-1">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">
                                    <div class="cu-mb-slide">
                                        <img src="assets/images/cover-2.jpg" class="img-fluid cu-sm-img-2">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </swiper>
                </div>

                        <div class="position-relative h-100 vw-50 d-none d-md-block">
                                <swiper [config]="config">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="cu-slide">

                                            <img src="assets/images/cover-9.jpg"  class="img-fluid cu-img-1">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="cu-slide">
                                            <img src="assets/images/cover-2.jpg"  class="img-fluid cu-img-2">
                                            </div>
                                        </div>

                                    </div>
                                </swiper>

<!--                            <button class="flickity-button-bottom button prev-next-button previous" type="button" aria-label="Previous">-->
<!--                                <i data-feather="arrow-left" class="fe"></i>-->
<!--                            </button>-->
<!--                            <button class="button prev-next-button next" type="button" aria-label="Next">-->
<!--                                <i data-feather="arrow-right" class="fe"></i>-->
<!--                            </button>-->
                        </div>
            </div>
            <div class="col-12 col-md-5 py-8 py-md-14 order-md-1 aos-init aos-animate" data-aos="fade-right">

                <!-- Heading -->
                <h1 class="display-3">
                    Coworking spaces built for <span class="text-success">startups.</span>
                </h1>

                <!-- Text -->
                <p class="lead-2 text-muted mb-9 mb-md-8">
                    We design and build coworking spaces tailored to the needs of growing teams.
                </p>

                <!-- Text -->
                <p class="pt-1">
                    Where are you located?
                </p>

                <!-- Form -->
                <form>
                    <div class="row gx-4">
                        <div class="col-12 col-lg">

                            <!-- Search -->
                            <div class="form-group mb-lg-0">
                                <input type="search" class="form-control" value="Los Angeles">
                            </div>

                        </div>
                        <div class="col-12 col-lg-auto">

                            <!-- Button -->
                            <button type="submit" class="btn btn-2 w-100 btn-primary shadow lift">
                                Find space
                            </button>

                        </div>
                    </div> <!-- / .form-row -->
                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<section class="pt-8 pt-md-11 bg-gradient-light-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">

                <!-- Badge -->
                <span class="badge cu-badge rounded-pill bg-success-soft mb-3">
              <span class="h6 text-uppercase">Flexibility</span>
            </span>

                <!-- Heading -->
                <h1 class="fs-xxl">
                    Spaces for any size of team.
                </h1>

                <!-- Text -->
                <p class=" ff-light fs-xl text-gray-700 mb-8 mb-md-9">
                    No matter what size your team, we have a solution. From single shared spaces to entire floors, it's available.
                </p>

            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-12 col-md-4 animateOnScroll animate__animated animate__fadeInUp  " >

                <!-- Card -->
                <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">

                    <!-- Image -->
                    <img src="assets/images/photo-4.jpg" alt="..." class="card-img-top">


                    <!-- Body -->
                    <div class="card-body position-relative">

                        <!-- Badge -->
                        <div class="position-relative text-end mt-n8 me-n4 mb-3">
                          <span class="badge rounded-pill bg-success">
                            <span class="h6 text-uppercase">$49/mo</span>
                          </span>
                        </div>

                        <!-- Heading -->
                        <h3 class="ff-pro">
                            Shared Coworking
                        </h3>

                        <!-- Text -->
                        <p class="text-muted ff-light">
                            Open seating is available weekdays from 7am - 7pm and weekends from 9am - 5pm.
                        </p>

                        <!-- Link -->
                        <a href="#" class="text-decoration-none">
                            Tour the space
                            <i data-feather="arrow-right" class="fe-2 ms-3"></i>
                        </a>

                    </div>

                </div>

            </div>
            <div class="col-12 col-md-4 animateOnScroll animate__animated animate__fadeInUp animate__delay-1s" >

                <!-- Card -->
                <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">

                    <!-- Image -->
                    <img src="assets/images/photo-5.jpg" alt="..." class="card-img-top">


                    <!-- Body -->
                    <div class="card-body position-relative">

                        <!-- Badge -->
                        <div class="position-relative text-end mt-n8 me-n4 mb-3">
                          <span class="badge rounded-pill bg-warning">
                            <span class="text-dark h6 text-uppercase">$99/mo</span>
                          </span>
                        </div>

                        <!-- Heading -->
                        <h3 class="ff-pro">
                            Designated Desk
                        </h3>

                        <!-- Text -->
                        <p class="text-muted ff-light">
                            A personal space to leave your computer, monitor, and supplies with unlimited access.
                        </p>

                        <!-- Link -->
                        <a href="#" class="text-decoration-none">
                            Find a desk
                            <i data-feather="arrow-right" class="fe-2 ms-3"></i>
                        </a>

                    </div>

                </div>

            </div>
            <div class="col-12 col-md-4 animateOnScroll animate__animated animate__fadeInUp animate__delay-2s">

                <!-- Card -->
                <div class="card shadow-light-lg lift lift-lg">

                    <!-- Image -->
                    <img src="assets/images/photo-6.jpg" alt="..." class="card-img-top">


                    <!-- Body -->
                    <div class="card-body position-relative">

                        <!-- Badge -->
                        <div class="position-relative text-end mt-n8 me-n4 mb-3">
                          <span class="badge rounded-pill bg-success">
                            <span class="h6 text-uppercase">$399/mo</span>
                          </span>
                        </div>

                        <!-- Heading -->
                        <h3 class="ff-pro">
                            Private Offices
                        </h3>

                        <!-- Text -->
                        <p class="text-muted ff-light">
                            Need a private space? We have all sizes of offices from 400² ft. available up to 3100² ft.
                        </p>

                        <!-- Link -->
                        <a href="#" class="text-decoration-none">
                            Tour the offices
                            <i data-feather="arrow-right" class="fe-2 ms-3"></i>
                        </a>

                    </div>

                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


