
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" routerLink="/">
            <img src="./assets/images/brand.svg" class="navbar-brand-img" alt="...">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i data-feather="x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">

                    <a class="nav-link" routerLink="/landings">
                        Landings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pages">
                        Pages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/accounts">
                        Account
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/documentation">
                        Documentation
                    </a>
                </li>
            </ul>

            <!-- Button -->
            <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" target="_blank">
                Buy now
            </a>

        </div>

    </div>
</nav>
<router-outlet></router-outlet>


